html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: url('https://i.gifer.com/Erie.gif') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
  }